<footer class="l-footer">
  &copy;2020 example.com
</footer>
<script src="/assets/js/bundle.min.js"></script>
{# @TODO: 納品時はBrowser-Syncの記述を削除する #}
<script id="__bs_script__">//<![CDATA[
document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.26.12'><\/script>".replace("HOST", location.hostname));
//]]></script>
